@media screen and (max-width: 425px) {
   header, nav, #wrap, footer{
      width: 100vw;
      overflow: hidden;
   }
   .logo{
      width: 48px;
   }
   
    .menu-btn{
      position: fixed;
      display: inline-block;
      background: none;
      border: none;
      font-size: 30px;
      right: 15px;
      width: 40px;
      height: 50px;
      top: 20px;
      color: #402A22;
   }
   nav{
      position: fixed;
      top: 150px;
      left: 250px;
      
      height: 350px;
      width: 250px;
      border-radius: 10px 0px 0px 10px;
      transform: translateX(100%);
      transition: transform 0.4s ease;
   }
   nav.open {
   transform: translateX(0);
   }
   nav ul{
      display: grid;
      gap: 0;
   }
   nav ul li{
      width: 200px;
      height: 70px;
      line-height: 70px;
      border-bottom: 2px solid #F8F3EC;
      border-radius: 0px;
   }
   nav a{
     margin-left: -25px;
   }
   .bar{
      display: none;
   }
   #part1{
      width: 100vw;
   }
   #opening{
      display: none;
   }
   .openingscroll{
      /* border: 1px solid; */
      height: 500px;
   }

   .movimg{
      display: none;
   }
   .opentext{
      top: 100px;
      left: 50px;
   }
   .opentext3{
   /* border: 1px solid; */
      left: 50px;
      top: 200px;
   }
   .mb1{
      display: inline-block;
   }
  
   .title{
      font-size: 30px;
      margin-left: 30px;
   }
   .ab1{
      left: 0px;
      width: 400px;
      height: 300px;
   }
   .imgme{
      margin-top: 10px;
      margin-left: 90px;
      height: 250px;
   }   
   .name{
      width: 250px;
      height: 100px;
      margin: 0;
      margin-left: 40px;
      margin-top: 150px;
   }
   .name p {
    display: flex;
   }
   .name p:nth-child(1){
      font-size: 15PX;
      letter-spacing: normal;
      margin-left: 4px;
      font-weight: 400;
   }
   .name p:nth-child(2){
      font-size: 30px;
   }
   .name p:nth-child(3){
      font-size:15px;
      font-weight: 400;
      margin-left: 4px;
   }
   .name p:nth-child(4){
      display: none;
   }

.name p span{
    margin-left: 10px;
}
.about1{
   display: none;
}
.about1 p:nth-child(1){
    font-size: 1rem;
    margin-bottom: 5px;
}
.about1 p{
   display: flex;
   margin-bottom: 20px;
   font-size: 0.8rem;
}
.about1 p span{
    margin-left: 10px;
}
.about1 p:nth-child(4){
    position: relative;
    font-size: 0.7rem;
    margin-left: 0px;
    margin-top: -20px;
}
.title{
   animation: none;
}
.ab1{
   left: 0px;
   animation: none;
}
.ab1>.imgme{
   margin-left: 50px;
}
.ab2{
   top: 460px;
   right: 50px; 
   font-size: 17px;
   animation: none;
}
.about2{
   position: absolute;
   margin: 0px;
   margin-left: -280px;
}
.about2 p{
   font-size: 15px;
   font-weight: 400;
   display: flex;
   margin-bottom: 5px;
}
.about2 p:nth-child(1){
   font-size: 20px;
   margin-bottom: 5px;
   font-weight: 600;
}
.about2 p:nth-child(6){
   margin-top: 30px;
   font-size: 20px;
   font-weight: 600;
   margin-top: 20px;
   margin-bottom: 5px;
}
.icons img{
   width: 20px;
}

.icon{
   margin-top: -10px;
   gap: 25px;
}
.star,.star2{
   font-size: 12px;
}
.p3-wrap{
   transform: scale(0.6);
   /* right: 0; */
   top: -200px;
   left: 300px;
}
.p3-1{
   top: 430px;
   left: 20px;
   width: 335px;
   animation: none;
   
}
.p3-1 p{
   font-size: 17px;
   line-height: 40px;
   margin-bottom: 20px;
}

h2{
   font-size: 20px;
}
.no{
   display: none;
}
   
.p3-1>a>p {
   font-size: 20px;
   font-weight: 600;
}
#p3-2{
   animation: none;
   
}
#part4top{
   height: 300px;
   
}
.part4text{
   top: 150px;
   left: 20px;
   
}
.part4text h3{
   font-size: 25px;
}   
.part4text p{
   font-size: 15px;
}
.wedex1,.wedex2,.wedex3,.wedex4{
   height: 570px   
}   
.wedext{
   margin-top: 100px;
   font-weight: 400;
   height: 200px;
   width:90vw;
   font-size: 17px;
   margin-left: 15px;
}
.wedext p{
   margin-bottom: 5px;
}
.wedext p:nth-child(1){
    font-size: 25px;
    font-weight: 700;
}
.wedex1 img,
.wedex2 img,
.wedex3 img,
.wedex4 img{
    position: absolute;
    width: 400px;
    left: 15px;
    margin-top: 300px;
}
.p5-1{
   top: 430px;
   left: 20px;
   width: 335px;
   animation: none;
}
.p5-1 h4{
   font-size: 25px;
}
.p5-1 p{
   font-size: 17px;
   line-height: 40px;
   margin-bottom: 20px;
}
#p5-wrap{
   transform: scale(0.6);
   /* right: 0; */
   top: -200px;
   left: 200px;
}
.p5-1>a>p {
   font-size: 20px;
   font-weight: 600;
}
.p5-2{
   animation: none;
   height: 500px;
}

.p6-1{
   top: 120px;
   left: 20px;
   width: 90vw;
   transition: none;
   
}
.p6-1 h5{
   font-size: 25px;
}
.p6-1 p{
   font-size: 17px;
   
}
.p6scroll{
   width: 350px;          
    height: 60vh;        
    left: 15px;
    top: 250px;
    transition: none;
    
   
}
  .p6-2 img{
    width: 250px;        
    margin-left: 20px;   
    top: 30px;
    border-radius: 8px;
    box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
  }
  .p6-2 img.active {
    transform: scale(1.1); 
}
#bye{
   display: none;
}
#part7 .part7text .endbox1{
   text-align: justify;
   left: 0px;
   padding: 16px;
}
.endbox1 p:nth-child(1){
   font-size: 17px;
}
.endbox1 p:nth-child(2){
   font-size: 40px;
}
.endbox2{
   text-align: justify;
   width: 100%;
   top: 250px;
   font-size: 17px;
   left: 0px;
   padding: 16px;
   
}
#part7 .part7text .eb2-2{
   position: absolute;
   top: 150px;
}
#part7 .part7text .eb2-2{
   width: 300px;
}
.go{
   margin-top: 16px;
}
.ftext{
   left: 50px;
   font-size: 15px;
   
}




   



   
  
}