*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
}
#wrap{
    background-color: #F8F3EC;
}
header{
    position: fixed;
    top: 4.6vh;
    left: 4.2vw;
    width: 0;
    z-index: 1000;
}
.logo{
    width: 100px;
    transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.logo:hover{
  transform: translateY(-6px);
}
.menu-btn{
    display: none;
}
nav{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 100;
    z-index: 9999;
}
nav ul{
    list-style: none;
    display: flex;
    text-align: center;
    gap: 50px;
    
}
nav ul li{
    position: relative; 
    width: 140px;
    height: 28px;
    line-height: 26px;
    flex-shrink: 0;
    background-color: #402A22;
    border-radius: 14px;
    transition: all 0.5s ease;
    
}
nav a{
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  color: #F8F3EC;
  font-weight: normal;
  transition: all 0.5s ease;
  font-weight: 100;
}
.bar{
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #402A22;
  border-radius: 10px;
  /* transform: translateX(-50%); */
  transition: all 0.25s ease;
}
nav ul li:hover{
    background-color:#F2AB6D ;
}

li:hover .bar{
  width: 15px;
  height: 10px;
  background-color: #F23D3D;
}
a{
   text-decoration: none;
}

.go {
    color: #402A22;
  transition: transform 0.25s ease;
}

.go:hover {
  transform: translateX(10px);
}
.go i{
  transition: transform 0.25s ease;
}

.go:hover i{
  transform: translateX(10px);
}



#part1{
    position: relative;
    height: 130vh;
    width: 100%;
    background-color: #F8F3EC;
    
}
#opening{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    animation: slideUp 1s ease forwards;
    animation-delay: 0.5s; /* 약간 지연 가능 */
    z-index: 500;
}
.img0{
    width: 100%;         
    height: 100%;        
    object-fit: cover;
}
.overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
   
}
@keyframes slideUp {
  to {
    transform: translateY(-100%);
  }
}



.opt1{
    position: absolute;
    top: 40%;
    margin-left: 15%;
    color: white;
    font-size: 4rem;
    font-weight: 500;
    
}

.opt1 p:nth-child(1){
    position: relative;
    border-bottom: 2px solid #fff;
    width: 120px;
   
}
.opt1 p:nth-child(2){
    position: relative;
    left: 100px;
   
}
.openingscroll{
    display: flex;
    position: sticky;
    top: 0;
    height: 100vh;
}

.opentext{
    position: absolute;
    top: 355px;
    width: 300px;
    left: 150px;
    border-bottom: 3px solid #402A22;
    color: #402A22;
    font-size: 2.8rem;
    text-align: left;
    font-weight: 500;
    overflow: hidden;
}
.opentext2{
    position: relative;
    height: 80px;
    animation: opentext2Up 0.4s forwards;
    animation-delay: 1.2s; /* 필요에 따라 딜레이 조정 */
}
.mb1{
    display: none;
}
.txt{
    position: relative;
    left: 60px;
    top: 0px;
    font-size: 4rem;
}
.txtnext{
    position: relative;
    left: 0px;
    top: 0px;
    font-size: 4rem;
    white-space: nowrap;
    opacity: 1;
}
@keyframes opentext2Up {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-75px); }
}
.opentext3{
    position: absolute;
    font-size: 4rem;
    color: #402A22;
    top: 355px;
    left: 450px;
    font-weight: 500;
}

.movimg{
    position: absolute;
    height: 80vh;
    max-height: 750px;
    width: 31.25vw;
    max-width: 600px;
    right: 100px;
    top: 10%;
    overflow: hidden;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.6);
    
}
.img{
    position: absolute;
    height: 800px;
    width: 600px;
}
.next2{
    animation: fadeOut 0.6s forwards;
    animation-delay: 1.4s
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


/* part2 */
#part2{
    position: relative;
    height: 100vh;
    background-color:#F8F3EC;
    overflow: hidden;
    font-weight: 600;
    color: #402A22;
}
@keyframes part2ani{
    0%{opacity: 0; left:-200px ;}
    100%{opacity: 1; left:200px ;}
}
.title{
    position: absolute;
    top: 9.25vh;
    left: 10.4vw;
    font-size: 4rem;
    animation: part2ani 1s 1;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    
}
.title.on{
    animation-play-state: running;
}
.ab1{
    position: absolute;
    display: flex;
    height: 600px;
    top: 150px;
    left:200px;
    animation: part2ani 1s 0.2s 1;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    
}
.ab1.on{
    animation-play-state: running;
}
.imgme{
    position: relative;
    margin-top: 150px;
    margin-left: 100px;
    width: 300px;
    height: auto ;
    
}
.name{
    position: relative;
    margin-top: 140px;
    margin-left : 160px;
    height: 200px;
}
.name p:nth-child(1){
    font-size: 1rem;
    letter-spacing: 0.05em;
}
.name p:nth-child(2){
    font-size: 2rem;
    letter-spacing: 0.2em;
}
.name p:nth-child(3){
    font-size:0.8rem;
    letter-spacing: 0.1em;
}
.name p:nth-child(4){
    margin-top: 10px;
    font-size:1rem;
    letter-spacing: 0.1em;
}
.name p {
    display: flex;
    letter-spacing: 0.05em;
}

.name p span{
    margin-left: 30px;
}
@keyframes part2ani2{
    0%{opacity: 0; right:-200px ;}
    100%{opacity: 1; right:400px ;} 
}
.ab2{
    position: absolute;
    top: 250px;
    right: 400px;
    animation: part2ani2 1s 1;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    
}
.ab2.on{
    animation-play-state: running;
}
.about1{
    position: relative;
    height: 200px;
    margin-top: 350px;
    margin-left: -230px;
}
.about1 p{
    display: flex;
    margin-bottom: 20px;
}
.about1 p span{
    margin-left: 30px;
}
.about1 p:nth-child(1){
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.about1 p:nth-child(4){
    position: relative;
    font-size: 0.8rem;
    margin-left: 95px;
    margin-top: -20px;
}

.about2{
    margin-top: 30px;
    /* border: 2px solid red; */
}
.about2 p{
    display: flex;
    margin-bottom: 20px;
}
.about2 p span{
    margin-left: 30px;
}
.about2 p:nth-child(1){
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.about2 p:nth-child(6){
    margin-top: 30px;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.icon{
    top: 40px;
    left: 0px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.lv4, .lv3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.icons{
    display: flex;
    gap: 20px;
}
.icons img{
    width: 30px;
    gap: 10px;
}   
.star, .star2{
    display: flex;
    gap: 10px;
    font-size: 16px;
    text-align: center;
    color: #402A22;
}
.star{
    margin:0 auto;
   
}
.star i:nth-child(5){
    color: #ccc;
}
.star2 i:nth-child(4){
    color: #ccc;
}
.star2 i:nth-child(5){
    color: #ccc;
}
/* part3 */
#part3{
    position: relative;
    height: 100vh;
    background-color:#F8F3EC;
    display: flex;
    overflow: hidden;
    color: #402A22;
}
@keyframes part3ani{
    0%{opacity: 0; left:-200px ;}
    100%{opacity: 1; left:200px ;} 
}
.p3-1{
    position: absolute;
    /* border: 2px solid red; */
    top: 250px;
    left: 200px;
    animation: part3ani 1s 1;
    animation-play-state: paused;
    animation-fill-mode: backwards;
}
.p3-1.on{
    animation-play-state: running;
}
h2{
    font-size: 40px;
}
.p5-1 >p{
    margin-top: 10px;
    line-height: 1.5;
    font-size: 1.2rem;
    margin-bottom: 50px;
    
}
.p5-1>a>p{
    font-size: 32px;
}
.p3-1 >p{
    margin-top: 10px;
    line-height: 1.5;
    font-size: 1.2rem;
    margin-bottom: 50px;
    
}
.p3-1>a>p{
    font-size: 32px;
}
@keyframes part3ani2{
    0%{opacity: 0; right:-150px ;}
    100%{opacity: 1; right:150px ;} 
}
#p3-2{
    position: absolute;
    /* border: 2px solid orange; */
    top: 150px;
    right: 150px;
    animation: part3ani2 1s 1;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    
}
#p3-2.on{
    animation-play-state: running;
}
.p3-wrap{
    /* border: 2px solid; */
    position: relative;
    width: 700px;
    height: 600px;
    transform: scale(1.5);
    right: 25px;
}
/* on */
#part3.on .p3-1,
#part3.on .p3-wrap {
  opacity: 1;
  transform: translate(0);
}
#part4top{
    position: sticky;
    height: 500px;
    top: 0;
    /* background-color: orange; */
    color: #402A22;
}
.part4text{
    position: absolute;
    top: 100px;
    left: 200px;
    line-height: 1.5;
}
h3{
   font-size: 40px;
    font-weight: 700;
}
#part4top p{
    font-size: 17px;
    line-height: 1.5;
}
#part4{
    color: #402A22;
}
.wedex1,.wedex2,.wedex3,.wedex4{
    position: sticky;
    left: 0;
    top: 200px;
    border-top: 2px solid #402A22;
    background-color: #F8F3EC;
    width: 1800px;
    height: 700px;
    display: flex;
    margin: 0 auto;
    transition: all 0.4s;
}
.wedex1 img,
.wedex2 img,
.wedex3 img,
.wedex4 img{
    position: absolute;
    width: 1000px;
    right: 50px;
    margin-top: 50px;
}
.wedext{
    margin-top: 150px;
    margin-left: 200px;
    font-weight: 600;
    width: 400px;
    height: 300px;
    flex: 0 0 auto;
}
.wedext p:nth-child(1){
    font-size: 2rem;
    font-weight: 700;
}
.wedext p:nth-child(2){
    margin-top: 20px;
    line-height: 1.5;
}
.wedex1,
.wedex2,
.wedex3,
.wedex4,
#part4top{
  position: sticky;
  top: 0;
}
 #part4top.end{
  position: relative;
}
#part5{
    position: relative;
    height: 100vh;
    background-color:#F8F3EC;
    display: flex;
    overflow: hidden;
    color: #402A22;
}
@keyframes part5ani{
    0%{opacity: 0; left:-100px ;}
    100%{opacity: 1; left:200px ;} 
}
.p5-1{
    position: absolute;
    top: 250px;
    left: 200px;
    animation: part5ani 1s 1;
    animation-play-state: paused;
    animation-fill-mode: backwards;
}
.p5-1.on{
     animation-play-state: running;
}
@keyframes part5ani2{
    0%{opacity: 0; right:-100px ;}
    100%{opacity: 1; right:100px ;} 
}
h4{
    font-size: 40px;
    font-weight: 700;
}
.p5-2{
    position: absolute;
    /* border: 2px solid orange; */
    top: 150px;
    right: 100px;
    animation: part5ani2 1s 1;
    animation-play-state: paused;
    animation-fill-mode: backwards;
}
.p5-2.on{
    animation-play-state: running;
}
#p5-wrap{
    /* border: 2px solid; */
    position: relative;
    width: 700px;
    height: 600px;
    transform: scale(1.5);
    right: 150px;
}
.bg2{
    width: 800px;
    right: 100px;
    top: 50px;
}
.h3{
    font-size: 40px;
    font-weight: 700;
}
.p5-1>p{
    font-size: 1.2rem;
    padding-top: 20px;
}
#part5.on .p5-1,
#part5.on .p5-2,
#part5.on .p5-wrap {
  opacity: 1;
  transform: translate(0);
}
#part6{
    position: relative;
    display: flex;
    align-items: center;
    color: #402A22;
    overflow: visible;
    box-sizing: border-box;
    overflow-x: hidden;
}
#part6.on .p6-1{
    opacity: 1;
    transform: translateX(0);
}
#part6.on .p6scroll{
    opacity: 1;
    transform: translateX(0);
}
.p6-1{
    position: absolute;
    top: 300px;
    left: 200px;
    opacity: 0;
    transform: translateX(-150px);
    transition: transform 0.9s ease-out, opacity 0.9s ease-out; 
    
}
h5{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.p6scroll{
    position: absolute;
    width: 950px;          
    height: 800px;
    top: 100px;
    right:100px;
    overscroll-behavior: contain;
    opacity: 0;
    transform: translateX(150px);
    transition: transform 0.9s ease-out, opacity 0.9s ease-out;
    transition-delay: 0.15s;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: visible;
}
.p6scroll:active{
    cursor: grabbing;
}
.p6scroll::-webkit-scrollbar{
    display: none;
}
.p6-1>p{
    font-size: 1.2rem;
}
.p6-2{
    top: 20px;
    position: relative;
    display: flex;
}
.p6-2 img{
    position: relative;
    margin-left: 30px;
    top: 50px;
    width: 400px;
    height: auto;
    object-fit: cover;
    display: block;
    flex-shrink: 0; 
    border-radius: 10px;
    transition: transform 0.4s ease, z-index 0.4s ease;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);;
    transform-origin: center right;
}
.p6-2 img:nth-child(1),
.p6-2 img:nth-child(2){
    transform-origin: center left;
}
.p6-2 img.active {
    transform: scale(1.2); /* 살짝 커지기 */
    z-index: 10;           /* 다른 이미지 위로 올라오도록 */
}
#bye{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    
    animation-delay: 1.5s; 
    z-index: 10100;
    opacity: 1;
}
#bye.on{
    animation: slideDown 1s ease forwards;
}

@keyframes slideDown {
  to {
    transform: translateY(100%);
  }
}
.out1{
    position: absolute;
    top: 40%;
    margin-left: 15%;
    color: white;
    font-size: 4rem;
    
}
.out1 p:nth-child(1){
    position: relative;
    border-bottom: 2px solid #fff;
    width: 120px;
   
}
.out1 p:nth-child(2){
    position: relative;
    left: 100px;
   
}
#part7{
    position: relative;
    color: #402A22;
    overflow: hidden;
    
}
#part7 .part7text > * {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}
#part7.on .part7text > * {
    opacity: 1;
    transform: translateY(0);
}
#part7 .part7text > *:nth-child(1) {
    transition-delay: 0s;
}
#part7 .part7text > *:nth-child(2) {
    transition-delay: 0.2s;
}
#part7 .part7text > *:nth-child(3) {
    transition-delay: 0.5s;
}
.line {
    position: relative;
    top: 120px;
    margin: 0 auto;
    width: 1700px;
    height: 5px;
    background: #402A22;
    border: none;
}
#part7 .part7text .endbox1{
    position: relative;
    width: 1000px;
    top: 200px;
    left: 200px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}
/* on */
#part7.on .part7text .endbox1{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s;
}
/* endbox1 텍스트 */
.endbox1 p:nth-child(1){
    font-size: 2rem;
    letter-spacing: 0.05em;
    width: 1000px;
}
.endbox1 p:nth-child(2){
    font-size: 5rem;
    color: #402A22;
}
.endbox2{
    position: relative;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.03em;
    width: 1500px;
    top: 300px;
    left: 200px;
    display: flex;
    gap: 250px;
}
#part7 .part7text .endbox2 > div{
    opacity: 0;
    transition: all 0.8s ease;
}
#part7 .part7text .eb2-1{
    width: 600px;
    box-sizing: border-box;
    transform: translate(-60px);
}
#part7 .part7text .eb2-2{
    width: 600px;
    box-sizing: border-box;
    transform: translate(60px);
}
#part7.on .part7text .endbox2 > div{
    opacity: 1;
    transform: translate(0, 0);
}
#part7.on .part7text .eb2-1{
    transition-delay: 0.8s;
}
#part7.on .part7text .eb2-2{
    transition-delay: 1.1s;
}
.highlight-text .hl{
    color: #402A22;
    transition: color 0.6s ease;
}
#part7.on .highlight-text .hl{
    animation: hlFlash 1.5s ease forwards;
    animation-delay: 1.2s;
}
@keyframes hlFlash {
    0% {color: #402A22;}
    50% {color: #F2AB6D;}
    60% {color: #F2AB6D;}
    100% {color: #402A22;}
}
.eb2-2 p:nth-child(3){
    margin-top: 40px;
}
.go:hover{
    color: #F2AB6D;
}
.go {
  color: #402A22;
  transition: color 0.25s ease;
}
.go i {
    color: inherit;
    display: inline-block;       
    animation: moveRight 1s ease-in-out infinite;
    animation-delay: 1.2s;   
}
@keyframes moveRight {
  0%   { transform: translateX(0); }    
  20%  { transform: translateX(5px); }  
  40%  { transform: translateX(0); }    
  60%  { transform: translateX(5px); }  
  80%  { transform: translateX(0); }    
  100% { transform: translateX(0); }    
}
footer{
    position: relative;
    background-color: #402A22;
    height: 200px;
}
.ftext{
    position: absolute;
    color: #F8F3EC;
    font-weight: 100;
    top: 50px;
    left: 100px;
    
}