#part3{
    position: relative;
    /* width: 100% ; */
    height: 100vh;
    background-color:#F8F3EC;
    /* overflow-x: hidden; */
}



.p3-2 {
    position: relative;
    width: 500px;
    display: flex;
    
    box-sizing: border-box;
    z-index: 2;
}

#arm {
    transform-box: fill-box;
    transform-origin: bottom center;
    z-index: 100;
}

#right-f {
    transform-box: fill-box;
    transform-origin: top center;
}

#hair {
    transform-box: fill-box;
    transform-origin: top center;
}

#leaf {
    transform-box: fill-box;
    transform-origin: bottom center;
}

.cloud {
    stroke: #000;
    fill: none;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7 {
    stroke: #000;
}

.cls-1,
.cls-2,
.cls-3,
.cls-6,
.cls-7,
.cls-8 {
    stroke-miterlimit: 10;
}

.cls-1,
.cls-5,
.cls-6 {
    fill: none;
}

.cls-2,
.cls-4,
.cls-7 {
    fill: #F8F3EC;
}

.cls-4,
.cls-5 {
    stroke-linejoin: round;
}

.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
    stroke-linecap: round;
}

.cls-8 {
    stroke: #F8F3EC;
}

/* .w {
stroke: rebeccapurple;
} */
.bg {
    position: absolute;
    inset: 0;
    width: 700px;
    z-index: 0;
}
#Layer_2{
    position: relative;
    left: 0px;
    width: 500px;
    top: 100px;
    z-index: 2;
}


.front {
    position: absolute;
    z-index: 3;
}

.m1 {
    position: absolute;
    width: 190px;
    top: 348px;
    left: 230px;
}

.m2 {
    position: absolute;
    width: 130px;
    top: 340px;
    left: 400px;
    z-index: 1;
}

.cs,
.ht,
.jq {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 100px;
    z-index: 10;
}

.ht img {
    position: absolute;
    width: 150px;
    top: 50px;
    left: 150px;
}

.ht img:nth-child(1) {
    z-index: 1;
}

.ht img:nth-child(2) {
    z-index: 2;
    left: 185px;
    top: 70px;
    width: 90px;
}

.cs img {
    position: absolute;
    top: 15px;
    left: 330px;
    width: 150px;
}

.cs img:nth-child(1) {
    z-index: 1;
}

.cs img:nth-child(2) {
    z-index: 2;
    top: 45px;
    left: 370px;
    width: 70px;

}

.jq img {
    position: absolute;
    width: 150px;
    top: 50px;
    left: 510px;
}

.jq img:nth-child(1) {
    z-index: 1;

}

.jq img:nth-child(2) {
    z-index: 2;
    top: 75px;
    left: 550px;
    width: 80px;
}